:host {
      display: block;
      padding: 8px 0;
      margin: 0;
      list-style: none;
      background-color: var(--flint-surface-background);
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    :host([disable-padding]) {
      padding: 0;
    }
    :host([dense]) {
      --flint-list-item-padding: 4px 16px;
      --flint-list-item-gap: 8px;
    }
