:host {
      display: block;
      box-sizing: border-box;
    }
    li {
      display: flex;
      align-items: center;
      padding: var(--ui-list-item-padding, 8px 16px);
      gap: var(--ui-list-item-gap, 16px);
      list-style: none;
    }
