:host {
            display: block;
            border-top: 1px solid var(--ui-border-color);
            background-color: var(--ui-surface-1);
            color: var(--ui-text-color);
            transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        :host(:first-of-type) {
            border-top: none;
            border-top-left-radius: var(--ui-border-radius-md);
            border-top-right-radius: var(--ui-border-radius-md);
        }

        :host(:last-of-type) {
            border-bottom-left-radius: var(--ui-border-radius-md);
            border-bottom-right-radius: var(--ui-border-radius-md);
        }

        :host([expanded]) {
            margin: 16px 0;
            border-top: none;
            box-shadow: var(--ui-shadow-md);
        }

        :host([expanded]:first-of-type) {
            margin-top: 0;
        }

        :host([expanded]:last-of-type) {
            margin-bottom: 0;
        }

        .accordion-container {
            display: flex;
            flex-direction: column;
        }
