:host {
    display: inline;
}

span {
    font: inherit;
    color: var(--ui-format-number-color, inherit);
    font-size: var(--ui-format-number-font-size, inherit);
    font-weight: var(--ui-format-number-font-weight, inherit);
    font-family: var(--ui-format-number-font-family, inherit);
}

span[data-sign="negative"] {
    color: var(--ui-format-number-negative-color, var(--ui-format-number-color, inherit));
}

span[data-sign="positive"] {
    color: var(--ui-format-number-positive-color, var(--ui-format-number-color, inherit));
}
