:host {
            display: block;
            height: 1px;
            background: var(--flint-border-color);
            margin: 4px 0;
        }
        :host([hidden]) { display: none !important; }
