:host {
            display: block;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.4;
            color: var(--ui-text-color);
            font-family: var(--ui-font-family);
            margin: 0;
        }
