:host {
      display: table;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-family: var(--ui-font-family);
      color: var(--ui-text-color);
    }
    :host([size="small"]) {
      --ui-table-cell-padding-y: var(--ui-table-cell-padding-y-dense, 6px);
      --ui-table-cell-padding-x: var(--ui-table-cell-padding-x-dense, 16px);
    }
